
            <!-- add to cart -->
            <div class="col-5 my-2">
                <div class="row">
                    <div class="col-12 display-4 my-2 py-3 rounded bg-dark text-center text-white">
                        <i class="fas fa-clipboard-list text-success"></i> List</div>
                </div>
                <div class="row">
                    <div class="col-12 my-2 rounded-pill py-3 bg-secondary">
                        <button type="button" class="btn btn-success float-right" id="cart">
                            <i class="fas fa-check"></i> Add to cart</button>
                        <h2 class="h2 text-center">Milk</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 my-2 rounded-pill py-3 bg-secondary text-center">
                        <button type="button" class="btn btn-success float-right" id="cart">
                            <i class="fas fa-check"></i> Add to cart</button>
                        <h2 class="h2">Milk</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 my-2 rounded-pill py-3 bg-secondary text-center">
                        <button type="button" class="btn btn-success float-right" id="cart">
                            <i class="fas fa-check"></i> Add to cart</button>
                        <h2 class="h2">Milk</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 my-2 rounded-pill py-3 bg-secondary text-center">
                        <button type="button" class="btn btn-success float-right" id="cart">
                            <i class="fas fa-check"></i> Add to cart</button>
                        <h2 class="h2">Milk</h2>
                    </div>
                </div>
            </div>
            <!-- space -->
            <!-- <div class="col-2"></div> -->
            <!-- On cart -->
            <div class="col-5">
                <div class="row">
                    <div class="col-12 display-4 my-2 py-3 rounded bg-dark text-center text-white">🛒 Cart</div>
                </div>
                <div class="row">
                    <div class="col-12 my-2 rounded-pill py-3 bg-secondary text-center">
                        <button type="button" class="btn btn-danger float-right" id="del">
                            <i class="fas fa-times"></i> Delete</button>
                        <h2 class="h2">Milk</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 my-2 rounded-pill py-3 bg-secondary text-center">
                        <button type="button" class="btn btn-danger float-right" id="del">
                            <i class="fas fa-times"></i> Delete</button>
                        <h2 class="h2">Milk</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 my-2 rounded-pill py-3 bg-secondary text-center">
                        <button type="button" class="btn btn-danger float-right" id="del">
                            <i class="fas fa-times"></i> Delete</button>
                        <h2 class="h2">Milk</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 my-2 rounded-pill py-3 bg-secondary text-center">
                        <button type="button" class="btn btn-danger float-right" id="del">
                            <i class="fas fa-times"></i> Delete</button>
                        <h2 class="h2">Milk</h2>
                    </div>
                </div>
            </div>